.about {
    text-align: left;
    margin: 20px;
    max-width: 750px;
    display: inline-block;
    font-size: 140%;

    h3 {
        color: $color-secondary;
    }

    .disclaimer {
        font-size: 70%;
    }
}