.about {
    text-align: left;
    margin: 20px;
    max-width: 750px;
    display: inline-block;
    font-size: 140%;

    h3 {
        color: #4497e2;
    }

    .disclaimer {
        font-size: 70%;
    }

    a:link, a:visited {
        color: #4497e2;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
    }
      
    a:hover, a:active {
        color: #7ab7ec;
    }
}