.card {
    display: inline-block;
    margin: 50px;
    position: relative;
    cursor: pointer;

    &-image {
        display: inline-block;
        width: 226px;
        height: 226px;
        border-radius: 30%;
        border: 2px solid #0645AD;
    }
    &-title {
        font-size: 28px;
        margin: 5px;
    }
    &-details {
        &.collapsed::after {
            content: "Learn More";
            color: 	#0645AD;
            text-decoration: underline;
            font-size: 20px;
        }
        &.collapsed {
            font-size: 0px;
        }

        &.expanded {
            font-size: 23px;
            /* background-color: #d3e9fa; */
            width: 80%;
            border-radius: 15px;
            padding: 25px;
            text-align: left;
            display:inline-block;
            cursor: default;

            animation: 1s slidedown;

            a {
                text-decoration: none;
            }
        }
    }

    ul {
        color: $color-secondary;
        list-style-type: bullet;
    }

    li {
        margin: 9px 0;
    }
}

.card.collapsed {
    &:hover {
        top: -5px;
    }

    li {
        margin: 0;
    }
}

.card.expanded {
    width: 100%;
    display: block;
    text-align: center;

    margin: 0px;
}

.card-container {
    margin-bottom: 50px;
    width: 100%;
}

@keyframes slidedown {
    from { transform: scaleY(0); }
    to   { transform: scaleY(1); }
}

@media (max-width: 400px) {
	.card {
       margin-left: auto;
       margin-right: auto;
	}
}