.donate {
    .card-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    a:link, a:visited {
        color: #4497e2;
        text-decoration: none;
      }
      
      a:hover, a:active {
        color: #7ab7ec;
      }
}