@import './variables.scss';
@import './header.scss';
@import './form.scss';
@import './footer.scss';
@import './splash.scss';
@import './card.scss';
@import './about.scss';
@import './donate.scss';
@import './contact.scss';
@import './columns.scss';

body {
    background-color: $background-color-page;
    height:100vh;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    /* 'Source Sans Pro', sans-serif */

    /* Flex Display for sticky header / footer */
    display:flex; 
    flex-direction:column;

    overflow-x: hidden;
}

a:link, a:visited {
    color: $color-secondary;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}
  
a:hover, a:active {
    color: $color-secondary-hover;
}

.mobile-break {
    display: none;
}

@media (max-width: 420px) {
    .mobile-hidden {
      display: none; 
    }
    .mobile-break {
        display: inline;
    }
    .mainText {
        font-size: 140% !important;
    }
  }

header { 
    min-height:8em; 
    display: block;
}

.centered {
    text-align: center;
}


.mainHome {
    width: 100%;
    margin: 0;
    background-color: #FFFFFF;
    color: $color-secondary;
    
    .mainTitle {
        font-size: 58px;
        font-weight: 700;
    }

    h3 {
        font-size: 160%;
    }
    
}

.mainCols {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    color: #010101; /* #4497e2 */
    font-size: 120%;
    justify-items: center;
    box-sizing: border-box;

    .col {
        margin: 1em 2em;
        cursor: pointer;
        text-align: center;

        .homeImage {
            width: 300px;
            height: 300px;

            margin-bottom: 1em;

            -webkit-background-size: cover;
            -moz-background-size: center cover;
            background-size: cover;
            background-position: center;
            border-radius: 10%;
        }

        a:link, a:visited {
            margin: 1em;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
          }
    }

    .col:hover {
        margin: 0.25em 2em;
    }
}

.main-break {
    display: none;
}

@media (max-width: 1200px) {
	.mainCols {
        display: block;
        margin: 0;
       
        .homeImage {
            display: inline-block !important;
        }
	}

    .main-break {
        display: inline;
    }
}

@media (max-width: 400px) {
	.mainCols {
        .homeImage {
            width: 240px !important;
            height: 240px !important;
        }

        .col {
            margin-left: auto;
            margin-right: auto;
        }
	}


}

.mainReferral {
    font-size: 30px;
    margin: 32px 6px;

    .referralContainer {
        margin: 60px 40px;
    }

    a:link, a:visited {
        text-align: center;
        text-decoration: none;
        font-weight: 500;
    }
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(68, 151, 226, 0), rgba(68, 151, 226, 0.75), rgba(68, 151, 226, 0));
}