$background-color-header-logo:#FEFEFE; //295687
$background-color-header-links:#09abeb; //#5f5f5f
$background-color-page: #FEFEFE;

//#

$color-header-logo: #000080; //7dced1

$background-color-header-link: #04688f;

// Color for links and other content that ought to standout.
$color-secondary: #4497e2;
$color-secondary-hover: #7ab7ec;