<footer>
    <div class="footerContent centered">
        &copy;2021 Life Outreach Center
        <br>
        300 B Quincy St. Hancock, MI | 10 E. Broad St. L'Anse, MI
        <br>
        <a href="./privacy.html">Privacy Policy</a> | <a href="./contact.html">Contact</a> | <a href="https://www.powr.io/checkout_screen?app_id=20361076" target="_blank">Donate</a> | <a href="./about.html">About Us</a>
        <br>
        <br>
        <a href="https://www.facebook.com/hersafeplaceloc/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/hersafeplace_loc/" class="fa fa-instagram"></a>
    </div>
</footer>