<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <title>Contribute</title>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/header.js"></script>
</head>

<body>
    <%- include('includes/header'); %>
    <br>
    <article class = "centered">
        <div class = "cols">
            <div class = "leftCol centered">
                <h2>Contribute your abilities</h2>
                <br>
                <p style="text-align: left">
                    Here at Life Outreach Center, our lifeblood is our volunteers.  
                    The people who give their time and are willing to use their talents to invest in the lives of others are what allow us to be a catalyst for change in our community.  
                </p>
                <p style="text-align: left">
                    If you have an interest in serving or ideas for impact, we have needs in the following areas: ​ 
                    <br>
                  
                  
                    <ul class="contactList" style="text-align: left">
                        <li>Technological Support</li>
                        <li>Event Coordination</li>
                        <li>Day-to-day office tasks</li>
                        <li>Client Mentoring</li>
                    </ul>
                    
                    <br>
                    If you have a desire to serve in any of these areas, please call us and schedule a time to meet.
                </p>
            </div>

            <div class = "rightCol">
                <h2>Contribute your resources</h2>
                <br>
                <p style="text-align: left">
                    <div id="appView" class="">
                        <div id="notification-container" style="margin: 0 auto; max-width: 448px;"></div>
                        
                        <div class="paypalWrapper centered">
                            
                            <div class="errors hid checkoutErrors"></div>
                            <div class="regular-button__container regular-button__container--flat softDarkShadow ani_cta_none">
                            <div class="regularButtonPadding">
                                <div class="paypalButton fitText submitButton" style="font-size: 20px;">
                                
                                <span style="font-size: 20px;">DONATE</span>
                                </div>
                            </div>
                            </div>
                            
                            
                                <div class="flex-row justify-content-center align-items-center margin-top-m">
                                    <div class="ccImage">
                                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/visa.svg">
                                    </div>
                                
                                    <div class="ccImage">
                                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/mastercard.svg">
                                    </div>
                                
                                    <div class="ccImage">
                                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/amex.svg">
                                    </div>
                                
                                    <div class="ccImage">
                                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/discover.svg">
                                    </div>
                                
                                
                                    <div class="ccImage">
                                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/paypal.svg">
                                    </div>
                                
                                </div>
                            
                        </div>
                        
                    <script>
                        var simpleCopies = simpleCopies || {};
                    </script>
                  </div>
                </p>
            </div>
        </div>
    </article>
    <%- include('includes/footer'); %>
</body>

</html>

