<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Information</title>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/header.js"></script>
    <script src="scripts/cardToggle.js"></script>
</head>

<body>
    <%- include('includes/header'); %>
    <br>
    <article class = "centered">
        <h1 style="font-size: 32px">Information</h1>

        <div class = "card-container">
            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/information1.png);"></div>
                <div class="card-title">Parenting Information</div>
                <div class="card-details collapsed">
                    <div onclick="cancelToggle(event)">
                        Choosing to continue your pregnancy and to become a parent is a very big decision, but with the support of caring people, many women in your situation have found the necessary <a href="./services.html?card=Caring Counsel">help and resources</a> to not only survive, but thrive. 
                        <br>
                        <br>
                        <a href="./services.html?card=Earn While You Learn">Click here</a> for more information about our Earn While You Learn program which is an individualized program designed to help you prepare for parenting.  
                        <br>
                        <br>
                        If you are considering adoption, we can provide <a href="./information.html?card=Adoption Information">information</a> about that as well.  
                        <br>
                        <br>
                        <a href="./contact.html">Talk to us</a>. We want to help.
                    </div>
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/information2.png);"></div>
                <div class="card-title">Abortion Information</div>
                <div class="card-details collapsed">
                    <div onclick="cancelToggle(event)">
                        Thinking about abortion? <a href="https://www.michigan.gov/mdhhs/0,5885,7-339-73971_4909_6437_19077-46328--,00.html">​Know the facts</a>.
                        <br>
                        <br>
                        Abortion can carry some hard consequences that no one will have to live with as much as you will. 
                        <br>
                        <br>
                        If your boyfriend or parents are pressuring you to have an abortion, be assured that you have rights.  No one can force you to do this. 
                        <br>
                        <br>
                        <a href="./contact.html">Reach out to us</a>, and we will help.
                        <br>
                        <br>
                        If you have had an abortion and have had trouble coping since, we would like to hear from you.  
                        <br>
                        <br>
                        <a href="./services.html">Healing is within reach</a>.
                    </div>
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/information3.png);"></div>
                <div class="card-title">Adoption Information</div>
                <div class="card-details collapsed">
                    <div onclick="cancelToggle(event)">
                        You may decide to make an adoption plan for your child. This loving decision is often made by women who first thought abortion was their only option. 
                        <br>
                        <br>
                        Life Outreach has information on open adoption. Open adoption allows you to choose parents for your child from numerous files of couples who want to adopt. Open adoption can even allow for an ongoing relationship with your child if desired.
                        <br>
                        <br>
                        Find out more about open adoption by <a href="tel:(906) 482-8681">calling</a> or <a href="./contact.html">contacting</a> us. We can arrange a meeting with an adoption specialist.
                    </div>
                </div> 
            </section>
        </div>
    </article>
    <%- include('includes/footer'); %>
</body>

</html>