<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <title>Services</title>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/header.js"></script>
    <script src="scripts/cardToggle.js"></script>
</head>

<body>
    <%- include('includes/header'); %>
    <br>
    <article class = "centered">
        <h1 style="font-size: 32px">Our Services</h1>

        <div class = "card-container">
            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/services1.png);"></div>
                <div class="card-title">Pregnancy Tests</div>
                <div class="card-details collapsed" onclick="cancelToggle(event)">
                    &nbsp;&nbsp;&nbsp;If your period is late or you are experiencing symptoms of pregnancy, a free pregnancy test is a good place to start. 
                    Though highly accurate for most women, a urine pregnancy test is considered an indication of pregnancy.  
                    Only a medical professional can diagnose a pregnancy. 
                    Seeing a doctor will be a necessary follow-up to establish whether a pregnancy is normal or not. 
                    A tubal pregnancy, for example, requires medical intervention, and is not ended if you choose abortion.
                    <br>
                    <br>
                    Would you like to <a href="">schedule</a> a pregnancy test?
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/services2.png);"></div>
                <div class="card-title">Caring Counsel</div>
                <div class="card-details collapsed" onclick="cancelToggle(event)">
                    &nbsp;&nbsp;&nbsp;Life Outreach has trained volunteers that are available to meet with you and to come alongside you in the choices you may be considering. 
                    Are you feeling overwhelmed? 
                    Knowing where to go for help is very important. 
                    Please <a href="./contact.html">contact us</a>. 
                    <br>
                    <br>
                    Feeling alone?  
                    The caring people at this pregnancy center would like to be part of your support system. 
                    We do not offer or refer for abortion services, but we have the information you need to make an informed decision.
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/services3.png);"></div>
                <div class="card-title">Post-Abortion Support</div>
                <div class="card-details collapsed" onclick="cancelToggle(event)">
                    &nbsp;&nbsp;&nbsp;If you or a loved one has experienced abortion and have had trouble coping since, you may be in need of healing.  These are some symptoms of the negative emotional and psychological effects associated with abortion:
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/information1.png);"></div>
                <div class="card-title">Earn While You Learn</div>
                <div class="card-details collapsed" onclick="cancelToggle(event)">
                    &nbsp;&nbsp;&nbsp;
                    Earn While You Learn is an educational program particularly for pregnant and parenting clients.
                    It is individualized to help you and your partner prepare for the birth and for the awesome responsibilities of bringing your baby home.
                    <br>
                    <br>
                    Or, if you are already a parent and you could use some help with potty training, disciplining, or dealing with any number of bewildering or frustrating issues, this program is for you. You can even bring your kids!
                    <br>
                    <br>
                    Show up for the once-weekly meetings with a mentor to watch videos and discuss the learning.
                    <br>
                    <br>
                    Stock up on diapers, wipes, gas cards, and other supplies at no cost to you!
                    <br>
                    <br>
                    Call today and see how learning can profit you!
                    <br>
                    <br>
                    Earn While You Learn can also provide instruction in areas other than those of pregnancy or parenting.  
                    <br>
                    Additional learning includes the following topics:
                    <br>
                    <span>Sexual Health</span>
                    <br>
                    <span>Healthy Relationships</span>
                    <br>
                    <span>Christian Living</span>
                </div> 
            </section>

            <section class = "card collapsed" onclick="toggleCard($(this))">
                <div class="card-image" style="background-image: url(images/information2.png);"></div>
                <div class="card-title">Community Referrals</div>
                <div class="card-details collapsed" onclick="cancelToggle(event)">
                    &nbsp;&nbsp;&nbsp;No one should have to face an unplanned pregnancy alone. We're here to connect you with the support you need -- whether it is financial assistance, child care, emotional support, housing, addiction help, or other needs..
                </div> 
            </section>
        </div>
    </article>
    <%- include('includes/footer'); %>
</body>

</html>