header {
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
}

.header-desktop .logo {
  height: 4em;
  background-color: #FEFEFE;
  color: #000080;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-desktop .logo div {
  text-align: center;
  flex: 2 2;
}
.header-desktop .logo .image {
  flex: 0 0 3.5em;
}
.header-desktop .logo img {
  height: 3.5em;
}
.header-desktop .logo .social {
  font-size: 125%;
}
.header-desktop .logo .social a {
  text-decoration: none;
  margin: 5px;
}
.header-desktop .links {
  height: 4em;
  background-color: #09abeb;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1);
}
.header-desktop .links a:link, .header-desktop .links a:visited {
  background-color: #09abeb;
  color: #f1f1f1;
  padding: 0 20px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-desktop .links a:hover, .header-desktop .links a:active {
  background-color: #04688f;
}

.header-mobile {
  display: none;
  width: 100vw;
}
.header-mobile .logo {
  height: 4em;
  background-color: #FEFEFE;
  color: #000080;
  font-weight: 700;
  font-size: 20px;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile .logo .image {
  flex: 0 0 3.5em;
}
.header-mobile .logo img {
  height: 3.5em;
}
.header-mobile .links {
  min-height: 4em;
  background-color: #09abeb;
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1);
}
.header-mobile .links a:link, .header-mobile .links a:visited {
  background-color: #09abeb;
  color: #f1f1f1;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile .links a:hover, .header-mobile .links a:active {
  background-color: #04688f;
}

/* Responsively hides the standard navbar, and replaces it with the mobile navbar. */
@media (max-width: 713px) {
  .header-desktop {
    display: none !important;
  }

  .header-mobile {
    display: block !important;
  }
}
.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
}

textarea,
input[type=text] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 2px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: inline-block;
  font-size: 16px;
  outline: 0;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em;
  min-width: 0;
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

#inputRow {
  max-width: 920px;
  margin: 6px;
  display: flex;
  margin: 0 -0.25rem;
}

textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 30rem;
  padding: 1rem 1rem;
}

#covid_message {
  height: 5rem;
}

#spacing_container {
  max-width: 902px;
  text-align: left;
  margin: 6px;
  padding: 0px;
}

#inputRow > input[type=text] {
  display: block;
  width: calc(100% - 18px);
  margin-left: 6px;
  margin-right: 6px;
}

#inputRow {
  display: block;
  padding: 0;
  border-width: 0;
  margin-bottom: 0;
}

#spacing_container {
  margin-top: 0;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submitButton {
  cursor: pointer;
  border-radius: 4px;
  border: 3px solid white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #555 !important;
}

.submitButton:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(100, 100, 100, 0.1);
}

.submitButton:active {
  background-color: #e6e6e6;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 9.5em;
  background: #010111;
  color: #BBBBBB;
  /* Sticky Footer */
  margin-top: auto;
}
footer a:link, footer a:visited {
  color: #BBBBBB;
  padding: 0 4px;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
}
footer a:hover, footer a:active {
  color: #999999;
}
footer .footerContent {
  line-height: 150%;
}
footer .fa {
  text-decoration: none !important;
  font-size: 150%;
}

@media (max-width: 400px) {
  footer {
    min-height: 12.5em;
  }
}
.splash {
  background-image: url("../images/splash1.jpg");
  height: 100vh;
  height: calc(100vh - 70px);
  width: 100%;
  margin: 0;
  margin-top: -80px;
  padding: 0;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.splashSlider {
  background-image: url("../images/splash2.jpg");
  display: none;
  width: 0%;
  height: 100vh;
  height: calc(100vh - 70px);
  padding: 0;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.splashText {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 4px black;
  top: 35%;
  left: 38px;
  font-size: 200%;
  z-index: 2;
}
.splashText a:link, .splashText a:visited {
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

@media (max-width: 713px) {
  .splashText {
    top: 20%;
    left: 30px;
    margin-right: 15px;
  }
}
@media (max-height: 500px) {
  .splashText {
    font-size: 140%;
  }
}
.splashDotsContainer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  text-align: center;
}
.splashDotsContainer .splashDot {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 3px solid white;
  cursor: pointer;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 0.6s;
}
.splashDotsContainer .active {
  background-color: white;
}

.splashTimerShadow {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
  height: 10px;
  width: 0%;
  position: absolute;
  bottom: 4px;
  left: 0px;
}

.card {
  display: inline-block;
  margin: 50px;
  position: relative;
  cursor: pointer;
}
.card-image {
  display: inline-block;
  width: 226px;
  height: 226px;
  border-radius: 30%;
  border: 2px solid #0645AD;
}
.card-title {
  font-size: 28px;
  margin: 5px;
}
.card-details.collapsed::after {
  content: "Learn More";
  color: #0645AD;
  text-decoration: underline;
  font-size: 20px;
}
.card-details.collapsed {
  font-size: 0px;
}
.card-details.expanded {
  font-size: 23px;
  /* background-color: #d3e9fa; */
  width: 80%;
  border-radius: 15px;
  padding: 25px;
  text-align: left;
  display: inline-block;
  cursor: default;
  animation: 1s slidedown;
}
.card-details.expanded a {
  text-decoration: none;
}
.card ul {
  color: #4497e2;
  list-style-type: bullet;
}
.card li {
  margin: 9px 0;
}

.card.collapsed:hover {
  top: -5px;
}
.card.collapsed li {
  margin: 0;
}

.card.expanded {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px;
}

.card-container {
  margin-bottom: 50px;
  width: 100%;
}

@keyframes slidedown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@media (max-width: 400px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
.about {
  text-align: left;
  margin: 20px;
  max-width: 750px;
  display: inline-block;
  font-size: 140%;
}
.about h3 {
  color: #4497e2;
}
.about .disclaimer {
  font-size: 70%;
}

.donate .card-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactList {
  color: #4497e2;
  list-style-type: none;
  list-style-image: url(../../images/bullet.png);
  font-size: 120%;
}
.contactList a {
  margin: auto;
  padding: auto;
  text-decoration: none;
  color: inherit;
}

.contactList li {
  margin: 9px 0;
}

@media (max-width: 526px) {
  .contactList {
    list-style-image: none;
    padding: 0;
    margin: 0;
  }
}
/* Column Data */
.cols {
  display: inline-grid;
  grid-template-columns: 15fr 475px;
  grid-gap: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  color: #010101;
  /* $color-secondary */
  font-size: 120%;
  justify-items: center;
  box-sizing: border-box;
}

.leftCol {
  padding: 1em;
  border-right: 1px solid #79b8c9;
}

.rightCol {
  width: 100%;
  text-align: left;
  padding: 1em 3em;
}

/* Responsively converts from two columns to rows. */
@media (max-width: 526px) {
  .cols {
    display: block;
  }

  .leftCol {
    border: none;
    padding-right: 1em;
  }

  .rightCol {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
body {
  background-color: #FEFEFE;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* 'Source Sans Pro', sans-serif */
  /* Flex Display for sticky header / footer */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a:link, a:visited {
  color: #4497e2;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

a:hover, a:active {
  color: #7ab7ec;
}

.mobile-break {
  display: none;
}

@media (max-width: 420px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-break {
    display: inline;
  }

  .mainText {
    font-size: 140% !important;
  }
}
header {
  min-height: 8em;
  display: block;
}

.centered {
  text-align: center;
}

.mainHome {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
  color: #4497e2;
}
.mainHome .mainTitle {
  font-size: 58px;
  font-weight: 700;
}
.mainHome h3 {
  font-size: 160%;
}

.mainCols {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  color: #010101;
  /* #4497e2 */
  font-size: 120%;
  justify-items: center;
  box-sizing: border-box;
}
.mainCols .col {
  margin: 1em 2em;
  cursor: pointer;
  text-align: center;
}
.mainCols .col .homeImage {
  width: 300px;
  height: 300px;
  margin-bottom: 1em;
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
}
.mainCols .col a:link, .mainCols .col a:visited {
  margin: 1em;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.mainCols .col:hover {
  margin: 0.25em 2em;
}

.main-break {
  display: none;
}

@media (max-width: 1200px) {
  .mainCols {
    display: block;
    margin: 0;
  }
  .mainCols .homeImage {
    display: inline-block !important;
  }

  .main-break {
    display: inline;
  }
}
@media (max-width: 400px) {
  .mainCols .homeImage {
    width: 240px !important;
    height: 240px !important;
  }
  .mainCols .col {
    margin-left: auto;
    margin-right: auto;
  }
}
.mainReferral {
  font-size: 30px;
  margin: 32px 6px;
}
.mainReferral .referralContainer {
  margin: 60px 40px;
}
.mainReferral a:link, .mainReferral a:visited {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(68, 151, 226, 0), rgba(68, 151, 226, 0.75), rgba(68, 151, 226, 0));
}